@mixin category-theme {
  --theme-deep:   var(--category-color);
  --theme-middle: color-mix(in srgb, var(--category-color) 70%, white);
  --theme-light: color-mix(in srgb, var(--category-color) 45%, white);
  --theme-soft:   color-mix(in srgb, var(--category-color) 20%, white);
}

@mixin category-theme($color: var(--category-color)) {
  --theme-deep:   #{$color};
  --theme-middle: color-mix(in srgb, #{$color} 70%, white);
  --theme-light:  color-mix(in srgb, #{$color} 45%, white);
  --theme-soft:   color-mix(in srgb, #{$color} 20%, white);
}

@mixin control-base {
  min-height: 40px;
  padding: 0 14px;

  border-radius: 12px;
  border: 1px solid $border_color;

  font-family: $font-family-main;
  font-size: 14px;

  transition: 0.2s ease;
}

@mixin button-base {
  @include control-base;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background-color: $btn-color-default;

  cursor: pointer;
  text-decoration: none;
  transform-origin: center;

  .material-symbols-outlined {
    font-size: inherit;
    color: inherit;
  }

  &:hover {
    transform: scale(1.01);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

@mixin select-wrapper-base {
  position: relative;
  display: inline-block;
}

@mixin select-base {
  @include control-base;

  width: 100%;
  padding: 8px 35px 8px 12px;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin select-icon-base {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

// ブランドカラー
$color-primary: #d700d3;
$color-secondary: #00ccd7;
$brand-gradient: linear-gradient(125deg, $color-primary, $color-secondary);

// ボタン色
$btn-color-default: white;
$btn-color-copy-json: #56cfc5;
$btn-color-save-preset: #ff6a94;
$btn-color-import-json: #b8b800;
$btn-color-clear: #654ea0;
$btn-color-error: #ff9f43;

// テキストカラー
$text-main:  #333333;
$text-sub:   #666666;
$text-light: #999999;
$text-code:  #00d787;


// 背景・線
$bg_main: #fafaff;
$bg_white: #ffffff;
$border_color: #dddddd;
$bg-code: #0f172a;

// フォント
$font-family-title: "Fredoka", "DM Sans", sans-serif;
$font-family-main: "DM Sans", sans-serif;
// 文字サイズ
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-large: 18px;
$font-weight-bold: 600;

// 余白
$spacing-small: 8px;
$spacing-middle: 16px;
$spacing-large: 24px;

// ボタン・パーツの丸み
$radius-main: 12px;