// src/renderer/src/assets/base/_mixin.scss

@use "./variables" as v;

@mixin category-theme {
  --theme-deep:   var(--category-color);
  --theme-middle: color-mix(in srgb, var(--category-color) 70%, white);
  --theme-light: color-mix(in srgb, var(--category-color) 45%, white);
  --theme-soft:   color-mix(in srgb, var(--category-color) 20%, white);
}

@mixin category-theme($color: var(--category-color)) {
  --theme-deep:   #{$color};
  --theme-middle: color-mix(in srgb, #{$color} 70%, white);
  --theme-light:  color-mix(in srgb, #{$color} 45%, white);
  --theme-soft:   color-mix(in srgb, #{$color} 20%, white);
}

@mixin control-base {
  border: 1px solid v.$border-color;
  font-family: v.$font-family-main;
  transition: 0.2s ease;
}

@mixin button-base {
  @include control-base;

  cursor: pointer;
  text-decoration: none;
  transform-origin: center;

  .material-symbols-outlined {
    font-size: inherit;
    color: inherit;
  }

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.95);
  }
}

@mixin select-wrapper-base {
  position: relative;
  display: inline-block;
}

@mixin select-base {
  @include control-base;

  width: 100%;
  padding: 8px 35px 8px 12px;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin select-icon-base {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}