// src/renderer/src/assets/base/_variables.scss

// ブランドカラー
$brand-primary: #9b02be;
$brand-secondary: #00b5bf;

// ボタン色
$btn-color-default: white;
$btn-color-copy-json: #56cfc5;
$btn-color-save-preset: #ff6a94;
$btn-color-import-json: #b8b800;
$btn-color-clear: #654ea0;
$btn-color-error: #ff9f43;

// テキストカラー
$text-main:  #ffffff;
$text-sub:   #bababa;
$text-light: #999999;
$text-success:  #00d787;
$text-error:  #bc0202;


// 背景・線
$bg_main: #05051a;
$border-color: #292232;
$border-color-active: #5b25a2;

$bg-code: #0f172a;

// フォント
$font-family-title: "Noto Sans JP", "Fredoka", "DM Sans", sans-serif;
$font-family-main: "Noto Sans JP", "DM Sans", sans-serif;

// 文字サイズ
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-large: 18px;
$font-weight-bold: 600;

// 余白
$spacing-small: 8px;
$spacing-middle: 16px;
$spacing-large: 24px;

// ボタン・パーツの丸み
$radius-main: 12px;